body {
  height: viewport;
  width: 100%;
}

h1, h2 {
 margin: 0;
 padding: 0;
}

h2 {
  background-color: silver;
}

.main {
  max-width: 1920px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme-container {
  display: none;
}

.menu-container {
  width: 40%;
}

.meme-title {
  border-radius: 10px;
  background-color: lightgrey;
  height: 20px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px; 
  margin: 3px;
  cursor: pointer;
}

.title-button {
  width: 15px;
  height: 15px;
  background-image: url('./svg/menu-icon.svg');
  background-size: cover;
  display: none;
}

.menu-container:hover .title-button {
  display: block;
} 

.meme-button {
  appearance: none;
  display: none;
}

 .meme-title:hover {
  background-color: silver;
 }

.meme-button:checked + .meme-container {
  display: flex;
  justify-content: center;
}

.meme-button:checked + .title-button {
  display: block;
  background-color: red;
}
  
/* .meme-title:hover + .meme-container {
  display: block;
} */


.image {
  border-radius: 10px;
}